<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Editar", edit_genre_path(@genre) %> |
  <%= link_to "Voltar", genres_path %>

  <%= button_to "deletar", @genre, method: :delete %>
</div>
