<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container p-2">
    <div class="row">
      <div class="col">
        <%= form.text_field :title, class:'form-control', placeholder: "Título"%>
      </div>
      <div class="col">
        <%= form.number_field :duration, class:'form-control', placeholder: "Duração" %>

      </div>

    </div>

  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col">
        <%= form.number_field :year, class:'form-control', placeholder: "Lançamento" %>

      </div>
      <div class="col">
        <%= form.text_area :resume, class:'form-control', placeholder: "Sinopse" %>

      </div>

    </div>

  </div>
  <div class="container p-2">
    <div class="row">
      <div class="col">
        <%= form.collection_select :director_id, Director.all, :id, :name, class:'form-select', placeholder: "Diretor" %>


      </div>
      <div class="col">
        <%= form.collection_select :genre_id, Genre.all, :id, :name, class:'form-select', placeholder: "Gênero" %>

      </div>

    </div>

  </div>
  <div class="d-flex justify-content-center">
    <%= form.submit "Criar", class:"btn btn-primary btn-block mb-5" %>
  </div>

<% end %>
