
<p style="color: green"><%= notice %></p>

<div class="card" id="<%= dom_id @movie %>">
  <img src="<%= @movie.image %>" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title"><%= @movie.title %></h5>
    <p class="card-text"><%= @movie.resume %></p>
  </div>
</div>

<div>
  <%= link_to "Editar", edit_movie_path(@movie) %> |
  <%= link_to "voltar", movies_path %>

  <%= button_to "deletar", @movie, method: :delete %>
</div>
